# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/log
*.dblite
.sconsign.dblite
.sconsign.dblite
/bin/log
bookmark_mode_20251110_164018.png
/obj
/bin/bin/log
/bin/funny_quick.exe.WebView2
/test
/Everything-SDK/.vscode
/Everything-SDK/example/CSharp/obj
/Everything-SDK/example/CSharpx64/obj
/Everything-SDK/example/Visual Basic
/Everything-SDK/example/CSharp
/Everything-SDK/example/CSharpx64
